body {
	padding: 30px
}
h1 {
	font-size: 40px;
	border-bottom: double 5px #0000CC;
}
.navArea{
  /* 縦グラデーションパターン */
  /* background: linear-gradient(#05FBFF, #1E00FF); */
  /* 横グラデーションパターン */
  /* background: linear-gradient(-135deg, #E4A972, #9941D8) !important; */
  /* 円グラデーションパターン */
  background: radial-gradient(#accbee, #00c6fb) !important;
  height: 80px !important;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  width: 100% !important;
}
.menuTrArea {
  height: 50px !important;
}
.menuTdArea {
  height: 50px !important;
  font-size: 15px !important;
}
.navTbodyArea>tr {
  height: 30px !important;
}
.navTbodyArea>tr>td {
  height: 20px;
  text-align:center;
  color:white;
  width: 300px !important;
  border: 2px #808080 solid;
}
.menuAnchor{
  color:white;
  font-size: 12px;
}



/* Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: 'liga';
}

/* マテリアルアイコン読み込み用 */
/* アイコンサイズ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }