@charset "UTF-8";

.box1 {
    position: relative;
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 3px blue;
    border-radius: 10px;
}
.box1 .box-title0 {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 25px;
    background: #FFF;
    color: blue;
    font-weight: bold;
}
.box1 p {
    margin: 2; 
    padding: 2;
}