.err {
	color: red;
}

ul, dl {
	background: radial-gradient(#FFFEFF, #D7FFFE) !important;
	border-top: solid #1e366a 1px;
	border-bottom: solid #1e366a 1px;
	padding: 0.5em 0 0.5em 1.5em;
}

ul li, dl dt {
	line-height: 1.5;
	padding: 0.5em 0;
}

.tabed {
	position: relative;
}

.tabed section {
	display: inline-block;
}

.tabed .j-h1 {
	position: relative;
	margin: 0;
	padding: 0.5em 0.5em 1em;
	display: inline-block;
	font-size: 1em;
	line-height: 1;
	border-radius: 0.5em 0.5em 0 0;
	color: #ccc;
	background-color: #7396E7;
	cursor: pointer;
	transition: 0.2s;
}

.tabed>section>div {
	position: absolute;
	left: 0;
	top: 2em;
	background-color: #B4C7F2;
	padding: 1em;
	display: none;
	border-bottom: 2em solid #fff;
}

.tabed .j-h1:hover, .tabed .selected {
	color: #fff;
	background-color: #B4C7F2;
	top: -0.3em;
}

.tabed .selected+div {
	z-index: 100;
	display: block;
}
