@charset "UTF-8";

.searchLabel {
    width:120px;
}
.searchObject {
    padding: 0 5px 0 10px;
}
.btnRight {
    flaot: right;
}

.searchCond {
	border-top: hidden #1e366a 1px;
	border-bottom: hidden #1e366a 1px;
	padding: 10px 0;
	background-position-x: right;
	margin-bottom: 10px;
}

.searchList {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border : solid #1e366a 1px;
    border-spacing: 0;
    border-collapse: collapse;
	background: radial-gradient(#FFFEFF, #D7FFFE) !important;
	padding: 0.5px;
}

.searchList>thead>tr>th, .searchList>tbody>tr>th, .searchList>tfoot>tr>th,
.searchList>thead>tr>td, .searchList>tbody>tr>td, .searchList>tfoot>tr>td {
    padding: 5px 6px;
    line-height: 1.42857143;
    border : solid #1e366a 1px;
}

.searchListImg {
  width: 30px;
  height: 30px;
}
