<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" />
 		<link href="../static/css/common.css" th:href="@{/css/common.css}"  rel="stylesheet">
		<script th:inline="javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/common.js}"></script>
		<title>Spring Boot Sample Site</title>
		<script th:inline="javascript">
		function check(){

			if(window.confirm('Are You Sure?')){ // 確認ダイアログを表示

				return true; // 「OK」時は送信を実行

			}
			else{ // 「キャンセル」時の処理
				return false; // 送信を中止

			}

		}
		</script>
			<link href="../static/css/sampleCss.css" th:href="@{/css/sampleCss.css}"  rel="stylesheet">
	</head>
	<body>
		<div th:replace="layout :: header"></div>

		<h1>Delete</h1>
			<form method="post" th:action="@{/delete}" th:object="${formModel}" onSubmit="return check()">
				<input type="hidden" name="userId" th:value="*{userId}" />
				<ul>
				<table class=showInfo>
				<tr><td><p th:text="|ID: *{userId}|"></p></td></tr>
				<tr><td><p th:text="|Name: *{userName}|"></p></td></tr>
				<tr><td><p th:text="|Email: *{email}|"></p></td></tr>
				<tr><td><button name="btn" type="submit" value="削除">Delete</button></td></tr>

		</table>
		</ul>
		</form>
		<form action="#" th:action="@{/login}" method="POST">
    		<input type="submit" value="Sign out" />
  		</form>

		<div th:replace="layout :: footer"></div>
	</body>
</html>