<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" />
 		<link href="../static/css/common.css" th:href="@{/css/common.css}"  rel="stylesheet">
		<title>Spring Boot Sample Site</title>
				<link href="../static/css/sampleCss.css" th:href="@{/css/sampleCss.css}"  rel="stylesheet">
		<script th:inline="javascript">
		function check(){
			var flag=0;
			console.log(document.form1.email.value);
			if(document.form1.name.value==""){
				flag=1;
			}
			else if(document.form1.email.value==""){
				flag=1;
			}else if(document.form1.selectedItem1.value==""){
				flag=1;
			}else if(document.form1.selectedItem2.value==""){
				flag=1;
			}else if(document.form1.selectedItem3.value==""){
				flag=1;
			}else if(document.form1.selectedProject1.value==""){
				flag=1;
			}else if(document.form1.selectedProject2.value==""){
				flag=1;
			}else if(document.form1.selectedProject3.value==""){
				flag=1;
			}
			
			if(flag){

				window.alert('必須項目に未入力がありました。 \n無所属の場合は「無所属」を入れてください。'); // 入力漏れがあれば警告ダイアログを表示
				return false; // 送信を中止

			}
			else{

				return true; // 送信を実行

			}

			
		}
		
		</script>
	
	</head>
	<body>
		<div th:replace="layout :: header"></div>
	
		<h1>Edit page</h1>
		<h2>全て埋めてください</h2>
			<form method="post" th:action="@{/editconfirm}" th:object="${formModel}" name="form1" onSubmit="return check()">
			<input type="hidden" name="userId" th:value="*{userId}" />
				<input type="hidden" name="encodedPassword" th:value="*{password}" />
			<ul>
			<table class="showInfo">
				<tr><td><p class="err" th:text=${msg}></p></td></tr>
				<tr><td><p th:text="|ID:*{userId}|"></p></td></tr>
				<tr><td><label for="userName">Name</label></td>
				<td><input maxlength="50" type="text" name="userName" th:value="*{userName}" />
				<div class="err"
					th:errors="*{userName}" th:errorclass="err">
				</div></td></tr>
				<tr><td><label for="email">Email</label></td>
				<td><input maxlength="256" type="text" name="email" th:value="*{email}" />
				<div class="err" th:errors="*{email}" th:errorclass="err">
				</div><p class="err" th:text="${emailDuplication}"></p></td>
				</tr>
				<!-- <tr><td><label for="enteredDate">EnterDate</label></td>
				<td><input type="date" name="enteredDate"/></td></tr> -->

				<!-- <tr><td><label for="leaveDate">LeaveDate</label></td>
				<td><input type="date" name="leaveDate"/></td></tr> -->
				
				<tr><td>Department1</td></tr>
				
				<tr><td>
				<p th:text="${first}"></p>
				</td><td><select id="singleSelect" name="selectedItem1">
     				<option value="">---</option>
    				<option th:each="item : ${selectItems}" th:value="${item.value}" th:text="${item.value}" th:selected="${item.value} == *{selectedItem1}">singleSelect</option>
				</select></td></tr>
				<tr><td>Department2</td></tr>
				<tr>
				<td>
				<p th:text="${second}"></p></td>
				<td><select id="singleSelect" name="selectedItem2">
     				<option value="" >---</option>
    				<option th:each="item : ${selectItems}" th:value="${item.value}" th:text="${item.value}" th:selected="${item.value} == *{selectedItem2}">singleSelect</option>
				</select></td></tr>
				<tr><td>Department3</td>
				<tr><td>
				
				<p th:text="${third}"></p>
				</td>
				<td><select id="singleSelect" name="selectedItem3">
     				<option value="" >---</option>
    				<option th:each="item : ${selectItems}" th:value="${item.value}" th:text="${item.value}" th:selected="${item.value} == *{selectedItem3}">singleSelect</option>
				</select></td></tr>
				
				<!-- 案件選択プルダウン(ここから) -->
				<tr><th>Project1</th></tr>
				<tr>
				<td><p th:text=${pfirst}></p>
				<td><select id = "singleSelect" name="selectedProject1">
		                    <option value="" >---</option>
		                    <option th:each="project:${selectProjects}"
		                            th:value="${project.value}"
		                            th:text="${project.value}"
		                            th:selected="${project.value}==*{selectedProject1}">SingleSelect</option></select></td></tr>
                
                <tr><th>Project2</th></tr>
                <tr><td><p th:text=${psecond}></p></td><td><select id = "singleSelect" name="selectedProject2">
		                    <option value="" >---</option>
		                    <option th:each="project:${selectProjects}"
		                            th:value="${project.value}"
		                            th:text="${project.value}"
		                            th:selected="${project.value}==*{selectedProject2}">SingleSelect</option></select></td></tr>
                
                <tr><th>Project3</th></tr>
                <tr><td><p th:text=${pthird}></p></td><td><select id = "singleSelect" name="selectedProject3">
		                    <option value="" >---</option>
		                    <option th:each="project:${selectProjects}"
		                            th:value="${project.value}"
		                            th:text="${project.value}"
		                            th:selected="${project.value}==*{selectedProject3}">SingleSelect</option></select></td></tr>
				<!-- 案件選択プルダウン(ここまで) -->
<!-- <tr><td><label for="userName">Name</label></td>
				<td><input maxlength="50" type="text" name="userName" th:value="*{userName}" /> -->
				<!-- エンジニアレベル選択プルダウン(ここから) -->
			<tr><th>Engineer Level</th></tr>
			<tr>
			<td><p th:text=${engineer}></p>
			<td><select id = "singleSelect" name="selectedEngineerLevel">
			    <option value="" >---</option>
			    <option th:value="1"                
			        th:selected="${engineerLevel}==1">1</option>
			    <option th:value="2"
			        th:selected="${engineerLevel}==2">2</option>
			    <option th:value="3"
			        th:selected="${engineerLevel}==3">3</option>
			    <option th:value="4PM"
			        th:selected="${engineerLevel}==4PM">4PM</option>
			    <option th:value="5PM"
			        th:selected="${engineerLevel}==5PM">5PM</option>
			    <option th:value="4アーキ"
			        th:selected="${engineerLevel}==4アーキ">4アーキ</option>
			    <option th:value="5アーキ"
			        th:selected="${engineerLevel}==5アーキ">5アーキ</option>                      
			    <option th:value="4コンサル"
			        th:selected="${engineerLevel}==4コンサル">4コンサル</option>
			    <option th:value="5コンサル"
			        th:selected="${engineerLevel}==5コンサル">5コンサル</option>
			</select></td></tr>
				
				<tr><td><input type="submit" value="Update" /></td></tr>
			</table>
			</ul>
			</form>
		<form action="#" th:action="@{/login}" method="POST">
   			<input type="submit" value="Sign out" />
 		</form>
		<div th:replace="layout :: footer"></div>
	</body>
</html>