<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="${links}" />


<header th:fragment="header">
	<table class="navArea">
		<tbody class="navTbodyArea">
			<tr class="menuTrArea">
				<td colspan="5" class="menuTdArea">Menu</td>
			</tr>
			<tr>
				<td>
					<a class="menuAnchor" th:href="@{/page?size=&page=0&userName=&departmentName=&projectName=&gender=}">トップページ</a>
				</td>
				<td>
					<a class="menuAnchor" th:href="@{/create}">ユーザ作成</a>
				</td>
				<td>
					<a class="menuAnchor" th:href="@{/change}">パスワード変更</a>
				</td>
				<td>
					<a class="menuAnchor" th:href="@{/evaluations}">評価シート</a>
				</td>
				<td>
					<a class="menuAnchor" th:href="@{/editmotivation}">モチベーション編集</a>
				</td>
			</tr>
		</tbody>
	</table>
</header>

<footer th:fragment="footer">
	<p>Copyright ©Team18. All Rights Reserved.</p>
</footer>
</html>

