<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>TOP PAGE</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" />
 		<link href="../static/css/common.css" th:href="@{/css/common.css}"  rel="stylesheet">
		<link href="../static/css/sampleCss.css" th:href="@{/css/sampleCss.css}"  rel="stylesheet">
		<link href="../static/css/show.css" th:href="@{/css/show.css}"  rel="stylesheet">
		<script th:inline="javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
		<script th:inline="javascript" th:src="@{js/snowfall.jquery.js}"></script>
		<script th:src="@{js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/common.js}"></script>
		<script type="text/javascript">
			$(function() {
				// 画像を降らせるsnowfall(オプションをすべて外すと雪が降る)
				/* $(document).snowfall({
					minSize : 10,				// 要素の最小サイズ
					maxSize : 50,				// 要素の最大サイズ
					minSpeed : 1,				// 要素の最小落下スピード
					maxSpeed : 2,				// 要素の最大落下スピード
					round : true,				// 要素に丸みを持たせる？
					shadow : false,				// 要素に影をつける？
					image : [
						"/img/leaf1.png",
						"/img/leaf2.png",
						"/img/leaf3.png",
						"/img/leaf4.png",
						"/img/aiko1.jpg",
						"/img/yosshi1.jpg",
						"/img/jun1.jpg",
						"/img/kokami_team1.jpg",
						"/img/motti1.jpg"
					],
					// collection : '#ground'		// 要素を指定の要素に積もらせる設定(画像を設定してもflakeColorで指定した要素の色が積もります)
				  }); */
			});
		</script>
	</head>
	<body>
		<div th:replace="layout :: header"></div>
		<h1>社員一覧</h1>
		<div>
			<form action="/page" th:action="@{/page}" method="get">
				<!-- <table class="table"> -->
				<table class=searchCond th:inline="text">
					<tr>
						<td class="searchLabel">
							名前
		 				</td>
						<td class="searchObject">
							<input type="text" name="userName">
		 				</td>
						<td class="searchLabel">
							部署
						</td>
						<td class="searchObject">
							<input type="text" name="departmentName">
						</td>
					</tr>
					<tr>
						<td class="searchLabel">
							参画プロジェクト
						</td>
						<td class="searchObject">
							<input type="text" name="projectName">
						</td>
						<td class="searchLabel">
							性別
						</td>
						<td class="searchObject">
							<select name="gender">
								<option value="">--</option>
								<option value="男性">男性</option>
								<option value="女性">女性</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="btnRight">
							<input type="submit" value="Search">
						</td>
					</tr>
				</table>
				<table class="searchList">
					<thead>
						<tr>
							<th>No</th>
							<th style="display:none;">ID</th>
							<th>名前</th>
							<th>部署</th>
							<th>現場</th>
							<th>参画プロジェクト</th>
							<th>性別</th>
							<th>詳細</th>
							<th>編集</th>
							<th>削除</th>
							<th colspan="2">
								<img class="searchListImg" src="/img/careerdesign1.png" alt="キャリアデザイン" title ="キャリアデザイン">
								<img class="searchListImg" src="/img/careerdesign2.png" alt="キャリアデザイン" title ="キャリアデザイン">
								<img class="searchListImg" src="/img/careerdesign3.png" alt="キャリアデザイン" title ="キャリアデザイン">
							</th>
							<th><img class="searchListImg" src="/img/motivation.png" alt="モチベーション" title ="モチベーション"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="obj, stat : ${datalist}">
							<td th:text="${stat.count}"></td>
							<td th:text="${obj.userId}" style="display:none;"></td>
							<td th:text="${obj.userName}"></td>
							<td th:text="システムインテグレーション事業部[項目追加予定]"></td>
							<td th:text="SBT[項目追加予定]"></td>
							<td th:text="スマートプロビジョニング[項目追加予定]"></td>
							<td th:text="${genderList[obj.gender]}"></td>
							<td><a th:href="@{/info/{userId}(userId=${obj.userId})}">参照</a></td>
							<td><a th:href="@{/edit/{userId}(userId=${obj.userId})}">編集</a></td>
							<td><a th:href="@{/delete/{userId}(userId=${obj.userId})}">削除</a></td>
							<td><a th:href="@{/CareerVisionShow/{userId}(userId=${obj.userId}) }" target="_blank" >参照</a></td>
							<td><a th:href="@{/CareerVisionEdit/{userId}(userId=${obj.userId})}" target="_blank" >編集</a></td>
							<td><a th:href="@{/evaluation/{userId}(userId=${obj.userId})}">参照</a></td>
						</tr>
						<tr th:unless="${listSize}" >
							<td colspan="9">NO DATA</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div th:if="${listSize}" th:with="s=${listSize}">
			<p th:unless="${s==1}">
			<ul>
				<li th:each='i : ${#numbers.sequence(0, datalist.totalPages-1)}' th:class="(${i}==${datalist.getNumber()})? 'active' : ''" style="display:inline">
					<span th:if='${i}==${datalist.getNumber()}' th:text='${i+1}'>1</span>
					<a th:if='${i}!=${datalist.getNumber()}' th:href="@{/page?size=20&page={i}&userName={name}&departmentName={departmentName}&projectName={projectName}&gender={gender}(i=${i},name=${name},departmentName=${departmentName},projectName=${projectName},gender=${thisGender})}">
						<span th:text='${i+1}'>1</span>
					   </a>
				</li>
			</ul>
		</div>

		<form action="#" th:action="@{/login}" method="POST">
   			<input type="submit" value="Sign out" />
		</form>
		<div th:replace="layout :: footer"></div>
	</body>
</html>